@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant:ital,wght@0,300;1,300&family=Montserrat:wght@300&family=Poppins:wght@200;300&family=Unbounded&display=swap');
body {
	background-image: url(../../Baza_Danych/Obrazy/Tlo_logowanie/Background.jpg);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.form_main {
	width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	padding: 30px 30px 30px 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}

.heading {
	font-size: 2.5em;
	color: #05060f;
	font-weight: 700;
	margin: 15px 0 30px 0;
	font-family: 'Poppins', sans-serif;
}

.inputContainer {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
}

.inputIcon {
	position: absolute;
	left: 10px;
}

.inputField {
	width: 100%;
	height: 40px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid rgb(173, 173, 173);
	border-radius: 30px;
	margin: 10px 0;
	color: #05060f;
	font-size: 0.8em;
	font-weight: 500;
	box-sizing: border-box;
	padding-left: 30px;
}

.inputField:focus {
	outline: none;
	border-bottom: 2px solid #219ebc;
}

.inputField::placeholder {
	color: #05060f;
	font-size: 1em;
	font-weight: 500;
}

#button {
	position: relative;
	width: 100%;
	border: 2px solid #fb8500;
	background-color: #fb8500;
	height: 40px;
	color: white;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 30px;
	margin: 10px;
	cursor: pointer;
	overflow: hidden;
}

#button::after {
	content: '';
	position: absolute;
	background-color: rgba(255, 255, 255, 0.253);
	height: 100%;
	width: 150px;
	top: 0;
	left: -200px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 100px;
	filter: blur(10px);
	transition-duration: 0.5s;
}

#button:hover::after {
	transform: translateX(600px);
	transition-duration: 0.5s;
}

.signupContainer {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-family: 'Poppins', sans-serif;
}

.signupContainer p {
	font-size: 0.9em;
	font-weight: 500;
	color: #05060f;
}

.signupContainer a {
	font-size: 0.7em;
	font-weight: 500;
	background-color: #2e2e2e;
	color: white;
	text-decoration: none;
	padding: 8px 25px;
	border-radius: 20px;
}

.register {
	font-family: 'Poppins', sans-serif;
}
